<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augusta.dev.personalize">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".application.FontsConfigApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />

        <activity android:name=".activity.HomeActivity"/>

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <receiver android:name=".broadcast.PendingBroadCastReceiver" />
        <receiver android:name=".broadcast.AlarmBroadCastReceiver" />

        <activity android:name=".SettingActivity" />
        <activity android:name=".AddNewSettingActivity" />
        <activity android:name=".PersonalizeActivity" />
        <activity android:name=".activity.RouseUpActivity" />
        <activity android:name=".activity.RouseBrowseActivity" />
        <activity android:name=".activity.BrowseSongActivity" />
        <activity android:name=".LocationModeSettingsActivity" />
        <activity android:name=".AddLocationModeActivity" />

        <receiver android:name=".broadcast.BootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AppSettingsActivity"
            android:theme="@style/AppThemeDark" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>